
page-margin(inside: 3.3cm, outside: 3.3cm, top=2.5cm)

justify()
basic-bibliopgrahy()
page-numbers(position='bottom-right', show_total=true)
equation-ids()

*
  font-weight config_font_weight

h1, h2, h3, h4, h5, h6
  font-weight 400
  &[data-counter]::before
    content attr(data-counter)
    padding-right .5em

h1
  margin-top 2em
  margin-bottom .75em
  font-size 1.563em
  line-height @line-height
h2
  font-size 1.25em
  line-height @line-height
  margin-top 1.5em
  margin-bottom .5em

h3,h4,h5,h6
  font-size 1em
  line-height @line-height

p
  margin .7em 0

.csl-entry
  margin-bottom 1ex


figure
  display block
  margin 2em 0
  screen-block()
  img
    display block
    margin .5em auto
    margin-top 0
  figcaption
    display block
    // font-style italic
    // text-align center
    &:before
      content "Figure " attr(data-counter) ":"
      padding-right .5em
      font-weight 600

figure
theorem
  page-break-inside avoid


// Title block
.doc-title-block
  text-align center
  margin 2em 0
  @media print
    padding-top 5em
.doc-title
  font-size 1.953em
  line-height $line-height
.doc-authors
  list-style none
  padding 0
  font-size 1.25em
  margin 1.5ex 0
  li
    text-align center
  line-height $line-height
.doc-date
  font-size 1.25em
  margin 1.5ex 0
  line-height $line-height




// Table of Contents
.toc
  screen-block()
  margin 3ex 0
  padding 2ex 0
  ul
    list-style none
    margin 0
    padding 0
  li
    margin 0
    padding 0
  a
    &:before
      display inline-block
      width 3em
    &[data-target-counter]:before
      content attr(data-target-counter) ". "

    &:after
      content: leader(' . ') target-counter(attr(href),page);
  >ul>li>a
    font-weight 600
  >ul>li>ul>li>ul>li
    >a:before {
      width auto
      padding-right:.3em
    }
    padding-left 3em
    // font-style italic

.toctitle
  display block
  font-size 1em
  line-height $line-height
  margin-bottom 1ex
  font-weight 600